*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --back: #ACC8E5;
  --text: #112A46;
}

html{
  font-size: 62.5%;
}

.container-fluid {
  max-width: 136.6rem;
  margin: 0 auto;
  padding: 0 5rem;
  background-color: var(--back);
  height: 100vh;
}

.navbar_items{
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  padding: 2rem 3rem;
}

.search{
  padding: 2rem 3rem;
  input{
    width: 100%;
    padding: 2rem;
    font-size: 1.5rem;
    overflow: hidden;
    outline: none;
    background-color: var(--back);
    border: 1px solid var(--text);
    &::placeholder{
      font-size: 1.5rem;
    }
  }
}

.note_body{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  .note_box{
  margin: 0 auto;
  .note_content{
    display: flex;
    justify-content: space-between;
  }
  }
}